{{extend 'layout.html'}}
<html>
<ul>
<li><a href="{{=URL(r=request,f='add_pol',args=1)}}">Term Insurance Policies</a></li>


<li><a href="{{=URL(r=request,f='add_pol',args=2)}}">Retirement Plan Policies</a></li>
<li><a href="{{=URL(r=request,f='add_pol',args=3)}}">Child Policies</a></li>
<li><a href="{{=URL(r=request,f='add_pol',args=4)}}">Health Plan Policies</a></li>
<li><a href="{{=URL(r=request,f='add_pol',args=5)}}">Senior Citizen Policies</a></li>
<li><a href="{{=URL(r=request,f='add_pol',args=6)}}">Family Plan Policies</a></li>
<li><a href="{{=URL(r=request,f='add_pol',args=7)}}">House Policies</a></li>
<li><a href="{{=URL(r=request,f='add_pol',args=8)}}">Motor Insurance Policy</a></li>
<li><a href="{{=URL(r=request,f='add_pol',args=9)}}">Travel Plan Policies</a></li>
</ul>
</html>
